body {
    user-select: none;
    -webkit-user-select: none;
}

h2 {
    margin-top: 0;
    margin-bottom: 0.2em;
}

h4 {
    margin-top: 0;
    margin-bottom: 1em;
    font-weight: 500;
}

.popup {
    background-color: #ffffff;
    padding: 18px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: max-content;
    height: max-content;
    transition: background-color 1s;
}

#logo {
    position: absolute;
    top: 3%;
    right: 5%;
    width: 60px;
    height: 60px;
}

#fontStyle {
    font-size: 1em;
    width: 17em;
}

.error_text {
    color: red;
}

#message {
    font-size: 1em;
    width: 95%;
    height: 5em;
}   

#name {
    font-size: 1em;
    width: 85%;
}

#gradeOverlay {
    background-color: black;
    padding: 2px 6px;
    border-radius: 5px;
    color: white;
    font-family: cursive;
    display: inline-block;
    font-size: 1rem;
    /* display: none; - Set the display to none initally, set the configuration using data from the chrome storage if available, then set the display to block */
}

#gradeOverlayLabel {
    display: inline;
    margin-right: 7px;
}

#sample_grade {
    width: 6em;
}

#sample_grade_error {
    display: inline;
    margin-left: 5px;
    visibility: hidden;
}

#custom_font_container {
    height: 1.8em;
}

#custom_font {
    font-size: .85em; /* same font-size as #set_custom_font */
    width: 12em;
}

#set_custom_font {
    font-size: .85em; /* same font-size as #custom_font */
    margin-left: -5px;
    padding-left: 2px;
    padding-right: 2px;
}

label[for="custom_font"] {
    margin-right: 4px;
    margin-top: 1px;
}

#custom_font_error {
    display: inline;
    margin-left: 5px;
    visibility: hidden;
}

#saveChanges, #sendMessage {
    background-color: #1c81bc;
    color: white;
    border-radius: 8px;
    padding: 2px 8px;
}

#syncNow {
    font-size: .8em;
    padding: 1px 4px;
    margin-left: .25rem;
}

#saveChangesLabel {
    position: absolute;
    margin-left: 7px;
    visibility: hidden;
    width: 15em;
    display: inline-flex;
    margin-top: 0;
    margin-bottom: 0;
    transform: translateY(2.5px);
    font-size: .925em;
}

#sendMessage {
    background-color: #119061;
    margin-top: 5px;
}

#sendMessageLabel {
    visibility: hidden;
    margin-left: 5px;
    display: inline;
    font-size: .875em;
}

.spacer {
    margin-top: 7px;
}

input[type="checkbox"] {
    transform: translateY(1.25px);
}

input[type="color"] {
    width: 2em;
    transform: translateY(5px);
    margin-right: 10px;
    background: none;
    border: none;
    box-shadow: none;
    padding: 0;
}

#text_color_firefox, #background_color_firefox {
    margin-top: 7px;
    margin-right: 5px;
    display: none;
}

a, a:visited, a:hover, a:active {
    color: #1c81bc;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

button:hover {
    cursor: pointer;
}

#links {
    margin-top: 6px;
    height: 6px;
    font-size: 83%;
}

#links :first-child {
    float: left;
    margin-right: 5px;
}

#links :last-child {
    float: right;
    margin-left: 5px;
}

span.link {
    text-decoration: underline;
    font-style: italic;
}

#gpa_card_position_container {
    margin-top: .35rem;
}

label.sync {
    position: relative;
    top: -.16rem;
    font-size: .8rem;
    font-size: .8em;
    margin-left: -.225rem;
}

.sync_container {
    display: inline;
    position: relative;
    top: .2rem;
}

.sync_container > input[type="radio"] {
    margin-left: 2px;
}

#sync_settings_message {
    font-size: .7em;
    margin: -8px 0 2px;
}

#sync_settings_message.error {
    color: red;
}

/* TOGGLE SWITCH */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.switch-container {
    display: inline-block;
    transform: scale(0.5) translate(-20px, -15px);
    -moz-transform: scale(0.5) translate(-20px, -15px);
}

/* TOOLTIP */

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 180px;
  font-size: .7em;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 10px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -100px; /* half of the width + left/right padding */
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}