.popup-canvas-grades-pro .overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,.7);
    z-index: 100;
    display: none;
}

.popup-canvas-grades-pro .content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    background: #fff;
    width: 400px;
    height: 234px;
    z-index: 101;
    text-align: center;
    margin-top: 5px;
    padding: 5px;
    box-sizing: border-box;
    border: 10px solid var(--dt-color-primary, #900);
    user-select: none;
    -moz-user-select: none;
    h2 {
        font-weight: 700;
    }
    h3 {
        font-size: .7em;
        margin: -1em auto 0;
        text-align: center;
    }
    h5 {
        font-weight: 600;
    }
}

.container-canvas-grades-pro:has(> table) {
    padding: 6px 20px;
}

.popup-canvas-grades-pro .content:has(table) {
    width: fit-content;
    height: fit-content;
    max-height: 525px;
    margin: 0 10px;
    overflow-y: scroll;
}

.popup-canvas-grades-pro .content:has(#min-gpa-container) {
    width: fit-content;
    height: fit-content;
    padding: 0 20px;
}

.popup-canvas-grades-pro #min-gpa-table {
    width: 100%;
    border-collapse: collapse;
    margin: 0;
}

.popup-canvas-grades-pro #min-gpa-table .cell-divider {
    border-right-width: .125rem !important;
    border-right-color: #5E35B1 !important;
}

.popup-canvas-grades-pro #min-gpa-table .cell-subdivider {
    border-right-width: 2px !important;
}

.popup-canvas-grades-pro #min-gpa-table-container {
    padding: 10px;
    padding-top: 5px;
    margin: 0 -10px;
}

.popup-canvas-grades-pro #min-gpa-table tr:first-of-type {
    background-color: #5E35B1 !important;
    color: white;
}

.popup-canvas-grades-pro #min-gpa-table tr:nth-of-type(2) {
    background-color: #B39DDB !important;
    font-weight: bold;
    color: black;
}

.popup-canvas-grades-pro #min-gpa-table th, .popup-canvas-grades-pro #min-gpa-table td {
    padding: 4px;
    text-align: center;
    border: 1px solid #ddd;
}

.popup-canvas-grades-pro #min-gpa-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.popup-canvas-grades-pro #min-gpa-table tr:not(:nth-child(-n+2)):hover {
    background-color: #EDE7F6;
}

.container-canvas-grades-pro .grid-container {
    display: inline-grid;
    grid-template-columns: 180px 90px 80px 80px;
    padding: 6px 10px;
}

.container-canvas-grades-pro .grid-container.special {
    grid-template-columns: 170px 140px 80px 80px 30px;
    max-height: 280px;
    overflow-y: scroll;
}

.container-canvas-grades-pro .grid-container > .grid-item {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.container-canvas-grades-pro .grid-container > .grid-item[id] {
    font-weight: bold;
    margin-bottom: 5px;
    text-align: center;
}

.container-canvas-grades-pro .grid-container > .credits > input {
    width: 40px;
    text-align: center;
    height: 16px;
}

.container-canvas-grades-pro .grid-container.special input {
    height: 20px;
} 

.container-canvas-grades-pro .grid-container > .grid-item > select {
    font-size: .85rem;
    text-align-last: center;
    text-align: center;
    -ms-text-align-last: center;
    -moz-text-align-last: center;
}

.container-canvas-grades-pro .grid-container > .grid-item > select > option {
    text-align: center;
}

.container-canvas-grades-pro .grid-container > .grid-item:has(select) {
    justify-content: center;
    align-items: center;
    display: flex;
}

.container-canvas-grades-pro .grid-container > .grid-item > select:focus {
    outline: none !important;
}

.content:has(> .container-canvas-grades-pro .grid-container) {
    width: fit-content;
    height: 500px;
    overflow-y: scroll;
}

.container-canvas-grades-pro {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
} 

#popup-error-message {
    font-size: .75em;
    color: red;
    position: absolute;
    transform: translateY(3px);
    width: 130px;
    word-break: normal;
    display: none;
}

#popup-warning-message {
    font-size: .6em;
    position: absolute;
    bottom: 2px;
    right: 12px;
    word-break: normal;
    display: none;
    white-space: pre-line;
}

#desired-grade input {
    width: 85%;
    margin-top: 11px;
    margin-bottom: 0;
}

#minimum-grade h5 {
    transform: translateY(-11.85px);
    margin-bottom: 10px;
}

#minimum-grade span {
    font-size: .925em;
    font-weight: 500;
    transform: translateY(-5px);
}

#minimum-grade.hide-grades span {
    visibility: hidden;
}

#minimum-grade-divider {
    margin: 0 10px;
    font-weight: 700 !important;
}

#popup-save-changes-label, #popup-missing-save-changes-label {
    font-size: .9em;
    margin: -12px 10px -12px;
    font-weight: 500;
    font-style: italic;
}

#popup-missing-save-changes-label {
    margin: 4px 10px -12px;
}

#popup-save-changes-label.error, #popup-missing-save-changes-label.error {
    color: red;
}

#popup-save-changes {
    background-color: #1c81bc;
    color: white;
    border-radius: 8px;
    padding: 2px 8px;
    margin-top: 18px;
    margin-bottom: 10px;
}

.popup-canvas-grades-pro .close-btn {
    cursor: pointer;
    position: absolute;
    top: 7px;
    right: 7px;
    width: 20px;
    height: 20px;
    background: #222;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    line-height: 22px;
    text-align: center;
    border-radius: 50%;
}

.popup-canvas-grades-pro.active .overlay {
    display: block;
}

.popup-canvas-grades-pro.active .content {
    transition: all 300ms ease-in-out;
    transform: translate(-50%,-50%) scale(1);
}

.popup-canvas-grades-pro.active #gpa-standard-input {
    width: 75%;
    resize: vertical;
    height: 18.5rem;
    max-height: 18.5rem;
    margin-bottom: 0;
}

.popup-canvas-grades-pro.active #gpa-standard-input-message {
    margin-bottom: -.45rem;
    font-size: 1.1rem;
    color: red;
    display: none;
}

.popup-canvas-grades-pro.active .content:has(#gpa-standard-input) {
    height: fit-content;
    width: 400px;
}

.popup-canvas-grades-pro #min-gpa-container input {
    width: 80%;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    transition: border linear .2s, box-shadow linear .2s;
    display: inline-block;
    height: 22px;
    padding: 8px;
    font-size: 0.875rem;
    line-height: 22px;
    color: var(--ic-brand-font-color-dark);
    border-radius: 3px;
    vertical-align: middle;
    text-align: center;
}

.popup-canvas-grades-pro #min-gpa-container > :last-child > h5 {
    margin-top: -8px;
}

.popup-canvas-grades-pro #min-gpa-container > :last-child > span {
    display: inline-block;
    transform: translateY(6px);
}

.popup-canvas-grades-pro #min-gpa-message {
    color: red;
    font-weight: bold;
    font-size: .775rem;
    margin-top: 8px;
}

.popup-canvas-grades-pro #min-gpa-calculate-btn {
    background-color: #1c81bc;
    color: white;
    border-radius: 8px;
    padding: 2px 8px;
    margin-top: 6px;
    margin-bottom: 10px;
}

#gpa-standard-table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}

#gpa-standard-table thead {
    background-color: #096FA3;
    color: white;
}

#gpa-standard-table th, #gpa-standard-table td {
    padding: 4px;
    text-align: center;
    border: 1px solid #ddd;
}

#gpa-standard-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

#gpa-standard-table tbody tr:hover {
    background-color: #cfe2ff;
}

#gpa-standard-table th {
    font-weight: bold;
    font-size: 1rem;
}

#gpa-standard-table td {
    font-size: .8rem;
}

#gpa-standard-edit {
    margin: 10px 0;
}

#gpa-standard-button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6px;
    margin-top: 10px;
}

#min-gpa-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

#gpa-standard-button-container > *:hover {
    cursor: pointer;
}

#gpa-standard-button {
    height: 18px;
    width: 20px;
}

#gpa-standard-button.fa-edit {
    transform: translate(2px, -1px);
}

/* TOGGLE SWITCH */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* ROUNDED SLIDERS */

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.switch-container {
    display: inline-block;
    transform: scale(0.5) translate(-20px, -15px);
    -moz-transform: scale(0.5) translate(-20px, -15px);
}

/* TOOLTIP */

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 180px;
  font-size: .7em;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 10px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -100px; /* half of the width + left/right padding */
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}